//
// The Butcher's Market styles
// --------------------------------------------------
// Includes all custom styles for the site


// Importing the Bootstrap styles
@import "bootstrap.less";
@import "bm-variables.less";
@import "app/fonts.less";


@import "app/footer.less";
@import "app/main-navigation.less";
@import "app/sections.less";





body {
  background: black;
  font-family: 'Merriweather', serif;
}


//== Main Navigation
//

.main-navigation {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
  bottom: 0;
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: @nav-font-size-small;
  background: url(../images/nav-bg.png) repeat;

  a {
    color: #fff;

    &:hover,
    &:active {
      color: darken(#fff, 15%);
    }
  }
  @media (min-width: 100px) {
    font-size: 20px;
    padding: 0;
  }
  @media (min-width: 350px) {
    font-size: 21px;
    padding: 5
  }
  @media (min-width: 1000px) {
    font-size: @nav-font-size-medium;
  }

  @media (min-width: @screen-lg-min) {
    font-size: @nav-font-size-large;
  }
}

.bm-logo {
  position: absolute;
  z-index: 300;
  display: block;
  width: @logo-width-sm;
  height: @logo-height-sm;
  margin-left: -(@logo-width-sm/2);
  left: 50%;
  // bottom: 0 - (@logo-height-sm/2);//
  bottom: 0 - 150px;
  text-indent: -20000px;
  background: url(../images/logo-sm.png) no-repeat;

  @media (min-width: @screen-lg-min) {
    width: @logo-width;
    height: @logo-height;
    margin-left: -(@logo-width/2);
    // bottom: 0 - (@logo-height/2);//
    bottom: 0 - 150px;
    background: url(../images/logo-sm.png) no-repeat;
  }
}


//== Navigation
//

.secondary-navigation {
  background: #fff;
  border-bottom: solid 10px black;
  text-align: center;
  margin-bottom: 0;

  ul {
    display: block;
    margin-bottom: 0;
    .clearfix();

    @media (min-width: @screen-md-min) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  li {
    float: left;
    width: 50%;

    @media (min-width: @screen-md-min) {
      width: inherit;
    }
  }

  a {
    display: block;
    padding: 10px 20px;
    color: #000;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background: #DFDBD3;
    }
  }
}



//== Main Layout
//

.store-info {
  @info-padding: 25px;

  padding: ((@logo-height-sm/2) + @info-padding) 0 @info-padding;
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;

  @media (min-width: @screen-md-min) {
    padding: 25px 0;
  }
}

.info-column {
  text-align: center;
  margin-bottom: 20px;

  strong,
  span {
    display: block;
  }

  strong {
    color: #B4975C;
    font-weight: normal;
    font-size: @font-size-medium;
    font-family: 'La Belle Aurore', cursive;

    @media (min-width: @screen-lg-min) {
      font-size: @font-size-large;
    }
  }

  a {
    color: #fff;
    text-decoration: underline;
  }


  @media (min-width: @screen-md-min) {
    margin-bottom: 0;
  }
}

.cab-header {
  font-family: 'Kaushan Script', cursive;
  font-size: @font-size-large
}

.section-title {
  font-family: 'Oswald', sans-serif;
}

.content-section {
  font-size: 20px;
  background: #fff;
  padding: 50px 0;

  &.alt-section {
    background: @gray-lighter;
  }

  @media (min-width: @screen-lg-min) {
    padding: 75px 0;
  }
}

.meat-section{
  //border-top: #fff solid 10px;
  background: url(../images/contentbg1.png);
}

.package-prices {
  padding: 20px 0;
}

.deli-section{
  border-top: #fff solid 10px;
  background: url(../images/contentbg2.png);
}

.additional-section-content{
  padding-top: 50px;

  @media (min-width: @screen-lg-min) {
    padding-top: 75px;
  }
}

.main-footer {
  background: #000;
  padding: 15px 0;
  color: #fff;
}

.content-bg {
  background: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

.cab-content-bg {
  background: url(../images/cab-content-bg.jpg);
  color: #fff;
  background-size: cover;
  position: relative;
}

.cab-text {
  background: rgba(0, 0, 0, 0.65);
  padding: 10px;
  border-radius: 10px;
}

.cab-link{
  font-size: @font-size-small;
}

.cab-logo-column {
  text-align: center;

  @media (min-width: @screen-sm-min) {
    text-align: right;
  }
}

.cab-logo {
  width: 74px;
  height: 75px;
  margin-top: 10px;

  @media (min-width: @screen-md-min) {
    width: 243px;
    height: 250px;
    margin-top: 0;
  }
}

//== Carousel
//

.carousel-container {
  padding: 0;
  position: relative;
}

.carousel {
  margin: 0 auto;
}

.carousel-inner {
  height: 100%;
}

.carousel .item {
  background-color: #777;
  width: 100%;
  height: 100%;
}

.carousel {
  max-width: @carousel-max-width;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  z-index: 100;
}
