//
// The Butcher's Market variables
// --------------------------------------------------
// Variable overrides for Bootstrap and site variables


@padding:        10px;
@radius:         10px;


//== Logo
//

@logo-width-sm:        180px;
@logo-height-sm:       144px;

@logo-width:           180px;
@logo-height:          144px;


//== Carousel
//

// Width of the carousel max-width should match the image widths
@carousel-max-width:      3840px;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-base:        "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-medium:        ceil((@font-size-base * 1.5));
@medium-line-height:      @font-size-medium;

@font-size-large:         ceil((@font-size-base * 2.5));
@large-line-height:       @font-size-large;

@font-size-xsmall:     ceil((@font-size-base * .75));
@nav-font-size-small:     ceil((@font-size-base * 1.5));
@nav-font-size-medium:    ceil((@font-size-base * 1.9));
@nav-font-size-large:     ceil((@font-size-base * 2.5));


//== Grid system
//
//## Define your custom responsive grid.

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-md-min;


//== Navs
//
//##

//=== Shared nav styles
@nav-link-hover-bg:                         transparent;


//== Jumbotron
//
//##

@jumbotron-bg:                   #baaca0;
