<div class="section-bubble section-about">
  <div class="section-bubble-body">
    <div class="row">
      <div class="about-text">
        <div class="container">
        <h1>Our goal?</h1>
        <p>Since 2004 we've been working to offer a shopping experience like no other with our quality products and small town service. The Butcher’s Market is your personal one stop shop for premium quality meats, deli, grocery, beer, wine, take-out dining, sit down dining, and so much more!</p>
        <ul class="social-icons list-unstyled">
          <li>
            <a href="https://www.facebook.com/thebutchersmarket" target="_blank">0</a>
          </li>
          <li>
            <a href="https://www.pinterest.com/butchersmarket" target="_blank">4</a>
          </li>
          <li>
            <a href="https://twitter.com/thebutchersmkt" target="_blank">1</a>
          </li>
          <li>
            <a href="https://vine.co/thebutchersmarket" target="_blank">7</a>
          </li>
          <li class="instagram" target="_blank">
            <a href="http://instagram.com/thebutchersmarket/" target="_blank"></a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
