<div id="dining" class="section section-dining">
  <div class="section-title">
    <div class="container">
      <h1>DINING</h1>
    </div>
  </div>

  <div class="section-description">
    <div class="container">
      <div class="section-tagline">
        <p>Stop in, take a load off, and have some lunch!  OR... Stop in after work and take some dinner home for your family.</p>
        <p><a href="{{assets}}/images/bmmenu.pdf" class="btn btn-primary">Veiw Printable Menu</a></p>
      </div>
    </div>
  </div>

  <div class="section-body section-dining-content">
    <div class="container">
      <div class="row">
        TODO: Add all the menu items here...
      </div>
    </div>
  </div>
</div>
