<div class="store-info">
  <div class="container">
    <a class="bm-logo" href="/">The Butcher's Market</a>

    <div class="row store-info-container">
      <div class="col-sm-6 col-md-5">
        <div class="row">
          <div class="col-sm-6 info-column store-hours">
            <strong>Quick Links</strong>
            <span><a href="{{assets}}/images/bmpackages.pdf">Bundle Packages</a></span>
            <span><a href="{{assets}}/images/bmmenu.pdf">Dining Menu</a></span>
            <span></span>
          </div>

          <div class="col-sm-6 info-column store-hours">
            <strong>Store Hours</strong>
            <span>Monday - Saturday:</span>
            <span>9:00am - 6:00pm</span>
            <span>Sunday: Closed</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-offset-2 col-md-5">
        <div class="row">
          <div class="col-sm-6 info-column store-location">
            <strong>Location</strong>
            <span>3619 Cleveland Hwy.</span>
            <span>Dalton, GA 30721</span>
            <span><a href="http://maps.apple.com/?daddr=3619+Cleveland+Hwy+Dalton,+GA&saddr=Current+Location" target="_blank">Directions</a></span>
          </div>
          <div class="col-sm-6 info-column store-contact">
            <strong>Contact</strong>
            <span>706-279-9277</span>
            <span><a href="#" class="contact-us">Contact us</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
