<nav class="secondary-navigation">
  <div class="container">
    <ul class="list-unstyled secondary-navigation-items">
      <li><a href="#meat">Meat</a></li>
      <li><a href="#deli">Deli</a></li>
      <li><a href="#grocery">Grocery</a></li>
      <li><a href="#dining">Dining</a></li>
      <li><a href="#beverage">Beverage</a></li>
      <li>
        <div class="more-btn-container">
          <a href="#" id="more-btn">More</a>
          <ul class="bm-dropdown list-unstyled">
            <li><a href="{{assets}}/images/bmdeer.pdf" target="_blank">Deer Processing</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
