<div class="section-bubble">
  <div class="section-bubble-body bubble-body-bh">
    <div class="row">
      <div class="col-md-5 bh-logo-column">
        <img src="{{assets}}/images/boarshead.png" class="img-responsive img-rounded content-section-image" />
      </div>
      <div class="col-md-7 bh-about-text">
        <h1>Quality Speaks!</h1>
        <p>When the question comes to what deli meats and cheeses to feed ourselves and family the answer to us is obvious.</p>

        <div class="cab-link">
          Read more about why Boar's Head Brand is the only choice of The Butcher's Market
        </div>

        <a href="http://www.boarshead.com">
          www.boarshead.com
        </a>
      </div>
    </div>
  </div>
</div>
