<div id="deli" class="section section-deli">
  <div class="section-title">
    <div class="container">
      <h1>DELI</h1>
    </div>
  </div>

  {{> boars-head}}

  {{> deli-items}}

  {{> deli-catering}}
</deli>
