<div class="col-xs-6 col-sm-4">
  <div class="bbq-feast-item deli-item">
    <div class="deli-image-container">
      <img src="{{assets}}/{{image}}" class="img-responsive img-rounded">
      <a href="#" class="item-info-btn deli-item-btn" data-item-list="{{list}}">
        <span class="glyphicon glyphicon-zoom-in"></span>
        More Info
      </a>
    </div>
    <span class="product-item-title deli-item-title">{{title}}</span>
  </div>
</div>
