//
// Section Deli
// --------------------------------------------------
//


.bubble-body-bh {
  background: url(../images/deli-bg.jpg);
  background-size: cover;
}

.bh-about-text {
  background: rgba(0, 0, 0, 0.75);
  padding: @padding;
  color: #fff;
}

.bh-logo-column {
  margin-bottom: @padding;

  @media (min-width: @screen-md-min) {
    margin-bottom: 0;
  }
}

.catering-disclaimer{
    padding-top: @padding * 2;
  font-size: ceil(@font-size-base * 0.7);

  h2 {
    font-size: ceil(@font-size-base * 0.7);
    font-weight: bold;
    margin: 0;
  }

}

.deli-item {
  padding-bottom: @padding;

}

.deli-image-container {
  display: table-cell;
  position: relative;
}

.deli-item-btn {
  @deli-btn-height: 20px;

  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(79, 78, 78, 0.8);
  color: #cecece;
  font-size: 11px;
  height: @deli-btn-height;
  border-bottom-right-radius: 6px; // match the .img-rounded
  border-top-left-radius: 6px; // match the .img-rounded
  padding: 2px 10px;

  &:hover,
  &:focus,
  &:active {
    color: #cecece;
    text-decoration: none;
  }

  .glyphicon {
    font-size: 13px;
  }
}

.deli-item-title {
  padding-top: @padding/2;
  display: block;
  font-size: ceil((@font-size-base * 1.1));
}
