//
// Section Meat
// --------------------------------------------------
//


.section-meat{
  //background: url(../images/contentbg1.png);
}

.package-prices {
  padding: 20px 0;
}

.cab-header {
  font-family: 'Kaushan Script', cursive;
  font-size: @font-size-large
}

.section-bubble-cab {
  background: url(../images/cab-content-bg.jpg);
  background-size: cover;
  position: relative;
}

.cab-text {
  background: rgba(0, 0, 0, 0.65);
  padding: @padding;
  border-radius: @radius;
  color: #fff;
}

.cab-link{
  font-size: @font-size-small;
}

.cab-logo-column {
  text-align: center;

  @media (min-width: @screen-sm-min) {
    text-align: right;
  }
}

.cab-logo {
  width: 74px;
  height: 75px;
  margin-top: @padding;

  @media (min-width: @screen-md-min) {
    width: 146px;
    height: 150px;
    margin-top: 0;
  }
}

.section-bubble-meat-packs {
  background: url(../images/wood-bg.jpg);
  background-size: cover;
}

.meat-bundle-disclaimer {
  padding-top: @padding * 2;
  font-size: ceil(@font-size-base * 0.7);

  h2 {
    font-size: ceil(@font-size-base * 0.7);
    font-weight: bold;
    margin: 0;
  }
}

