//
// Section Deli
// --------------------------------------------------
//


.section-deli {
  border-top: #fff solid 10px;
  background: url(../images/brown-bg.png);
}

.bubble-body-bh {
  background: url(../images/deli-bg.jpg);
  background-size: cover;
  border-radius: 10px;
}

.bh-about {
  background: url(../images/deli-bg.jpg);
  background-size: cover;
  margin: 20px 0;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
}

.bh-about-text {
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.bh-logo-column {
  margin-bottom: @padding;

  @media (min-width: @screen-md-min) {
    margin-bottom: 0;
  }
}