//
// Sections
// --------------------------------------------------
//

.product-item-title,
.item-title{
  display: block;
  height: 80px;
}


.section {

}

.section-header {
  .clearfix();
  padding: 50px 25px 0 25px;
}

.section-title {
  font-size: 46px;
  background: #c6a86a;
 border-bottom: solid 5px #2F2E2B;
 border-top: solid 5px #2F2E2B;

 h1{
  margin-top: 5px;
  margin-bottom: 5px;
 }
}


.section-image {
  float: right;
}

.section-description {
  background: #614736;
  background-image: url(../images/leather.jpg);
  padding: 25px 0;
  color: #fff;

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}



.section-tagline {
  .btn {
    margin-top: 15px;
  }
}

.section-body {
  padding: 25px;
  background: #D6CDBC;
}

.section-bubble-header {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  color: #fff;

  h1 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.section-bubble-body {
  //padding: @padding;

  > .row {
    margin-right: 0;
    margin-left: 0;
  }
}

/*
.section-top {
  position: relative;
  min-height: 150px;
}

.section-top-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.section {
  padding: 50px @padding;
  background: @gray-lighter;

  &.alt-section {
    background: @gray-lighter;
  }

  @media (min-width: @screen-lg-min) {
    padding: 100px 0;
  }
}

.section-title {
  font-family: 'Oswald', sans-serif;
}

.section-bubble {

}


*/
