<div class="modal fade item-modal bbq-feast-modal" id="bbq-feast-modal" tabindex="-1" role="dialog" aria-labelledby="item-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="item-modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <img src="" id="item-modal-image" class="img-responsive">
          </div>
          <div class="col-sm-6">
            <ul id="price-list" class="list-unstyled">
              <li>
                <span class="quantity-title">4 person feast</span>
                <span class="quantity-price"></span>
              </li>
              <li>
                <span class="quantity-title">10 person feast</span>
                <span class="quantity-price"></span>
              </li>
              <li>
                <span class="quantity-title">15 person feast</span>
                <span class="quantity-price"></span>
              </li>
              <li>
                <span class="quantity-title">20 person feast</span>
                <span class="quantity-price"></span>
              </li>
            </ul>

            <div class="feast-sides">
              <p>Choose 2 of the following sides:</p>
              <ul>
                <li>Baked Beans</li>
                <li>Cole Slaw</li>
                <li>Hot Slaw</li>
                <li>Corn Salad</li>
                <li>Potato Salad</li>
              </ul>
            </div>

            <div class="feast-disclaimer">
              <ul class="list-unstyled">
                <li>BBQ feast orders are custom made and may be adjusted to your needs.</li>
                <li>Larger orders or special request orders can be created at appropriate costs.</li>
                <li>Orders of 10 people or more need to placed by phone (706) 279-9277 one business day prior to pick up date.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
