<div class="modal fade item-modal catering-modal" id="catering-modal" tabindex="-1" role="dialog" aria-labelledby="item-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="item-modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <img src="" id="item-modal-image" class="img-responsive">
          </div>
          <div class="col-sm-6">
            <ul id="catering-list"></ul>
            <div class="catering-disclaimer">
              <ul>
              <li>Party platter items are custom made and may be adjusted to your needs.</li><li>Larger trays or special request platters can be created at appropriate costs.</li><li>Please allow ample time for platters to be made after time of ordering, typically 3-4 hours.</li></ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
