<div class="modal fade item-modal meat-bundle-modal" id="meat-bundle-modal" tabindex="-1" role="dialog" aria-labelledby="item-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="item-modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <img src="" id="item-modal-image" class="img-responsive">
          </div>
          <div class="col-sm-6">
            <ul id="meat-bundle-list"></ul>

            <div class="meat-bundle-disclaimer">
              <h2>Re-Packaging:</h2>
              <p>Items are packaged as listed. There is an additional 10% charge for re-packaging or re-processing these items. For the courtesy of other customers please call in advanced notice for re-packaging requests.</p>
              <h2>Substitutions:</h2>
              <p>We allow limited substitutions for items within a package, and will be for the dollar value of that item, not the weight. If you want several items substituted, please choose the Mix &amp; Match Packs instead.</p>
              <h2>Availability:</h2>
              <p>Occasionally, an item may be unavailable due to supply or time of day, such as nearing closing time.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>