<div class="section-bubble section-bubble-cab">
  <div class="section-bubble-body">
    <div class="row">
      <div class="col-sm-9 col-md-7 cab-text">
        <h1 class="cab-header">Fresh Cut Everything!</h1>

        <p>To offer a higher quality and more constistent product we hand cut all of our meats in-house and stock only Certified Angus Beef Brand!</p>

        <div class="cab-link">
          Read more about Certified Angus Beef Brand and even meet the families that raise it at
        </div>

        <a href="http://www.certifiedangusbeef.com">
          www.certifiedangusbeef.com
        </a>
      </div>
      <div class="col-sm-3 col-md-5 cab-logo-column">
        <img src="{{assets}}/images/cab-logo.png" class=" content-section-image cab-logo" />
      </div>
    </div>
  </div>
</div>
