<div id="meat" class="section section-meat">
  <div class="section-title">
    <div class="container">
      <h1>MEAT</h1>
    </div>
  </div>

  {{> angus-beef}}

  {{> meat-bundles}}

  {{> meat-mix-match}}

  {{> meat-mix-match-icebox}}
</div>
